.mx-auto.text-left.text-large(style="max-width: 400px;")
	h5 基本规则
	ul.text-muted.list-rules
		li(*ngFor="let r of rules") {{r}}

	h5 注意事项
	p.text-muted
		| 本游戏处于#[strong 早期开发阶段]，可能存在漏洞和偶尔的服务中断。
	p.text-muted
		| 请勿传播任何游戏文件或代码。
